<!doctype html>

<html>

<head>
    <meta charset="UTF-8">>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>StudyIsland</title>
</head>

<body id="top" data-spy="scroll" data-target=".navbar" data-offset="50" class="shadow"
    style="background-color:#082032;">

    <nav class="navbar fixed-top navbar-expand-lg" style="background-color: #334756;">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="/">StudyIsland</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/islands">Islands</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-togglet text-white" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Login
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #334756;">
                            <li><a class="dropdown-item text-white" href="/auth/login">Login</a></li>
                            <li><a class="dropdown-item text-white" href="/auth/register">Register</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" action="/search" method="get">
                    <input class="form-control me-2" name="searchTerm" type="text" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <br><br><br>
    <div class="container-lg shadow vh-100" style="background-color: #2C394B;">

        {{{body}}}  

        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();

                // Add smooth scrolling to all links in navbar + footer link
                $(".navbar a, footer a[href='#top']").on('click', function (event) {
                    if (this.hash !== "") {

                        // Prevent default anchor click behavior
                        event.preventDefault();
                        var hash = this.hash;

                        // Using jQuery's animate() method to add smooth page scroll
                        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 900, function () {

                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        });
                    }
                });
            })
        </script>

    </div>
    
    <div id="footer" class="container-fluid-lg position-static bottom-0">

        <footer class="text-center bg-dark text-lg-start shadow">

            <!-- Copyright -->
            <div class="text-center text-white p-3" style="background-color: #334756;">
                © 2022 Copyright:
                <a class="text-white" href="http://www.studyisland.com/">studyisland.com</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>

</body>

</html>