<hr />
<h3 class="text-white">Islands</h3>
<hr />
<ul class="list-group">
    {{#each islands}}
        <li class="list-group-item" style="background-color: #2C394B;" ><a class="anchor text-white"href="/islands/{{_id}}">{{name}} - {{description}}</a></li>
    {{/each}}
</ul>
<hr />