<hr />
<h3 class="text-white">Islands</h3>
<hr />
<ul class="list-group">
    <button onclick="location.href = '/islands/add-island/create';">Add Island</button>

    {{#each islands}}
        <li class="list-group-item text-white" style="background-color: #2C394B;" >{{name}} - {{description}}</li>
    {{/each}}
</ul>
<hr />