        <div class="container py-3 px-5">
            <div class="row text-white rounded py-3 px-3 shadow" style="background-color: #334756;">
                <div class="col">
                    <p class="text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada risus molestie lorem
                        vehicula, at posuere elit tincidunt. Sed efficitur nunc at pharetra blandit. Quisque non sapien
                        non elit dictum auctor sit amet at risus. Nulla venenatis consectetur urna nec aliquet. Proin
                        malesuada lacus non pharetra dapibus. Vivamus tempus lacus velit, quis vehicula lectus mollis in.
                        Pellentesque dapibus
                        iaculis molestie.
                        <br><br>
                        Curabitur efficitur fringilla ullamcorper. Nullam bibendum urna a lectus vehicula, eget placerat
                        nisi ultrices. Vivamus tempus lacus velit, quis vehicula lectus mollis in. Pellentesque dapibus
                        iaculis molestie. Nulla venenatis consectetur urna nec aliquet. Proin
                        malesuada lacus non pharetra dapibus.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="container py-3 px-5">
            <div class="row text-white rounded py-3 px-3 shadow" style="background-color: #334756;">
                <div class="col">
                    <p class="text-white">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit eum rerum, eos est commodi quasi accusantium sint ex libero perferendis sunt aperiam, optio dolores ab neque fugit alias illum fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur nemo temporibus quibusdam cum maiores rerum mollitia natus saepe. Minus, quisquam beatae? Similique rerum maiores quis, dolore quae provident. Temporibus, ipsum.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="container py-3 px-5">
        
            <div class="row text-white rounded py-3 px-3 shadow" style="background-color: #334756;">
                <div class="col">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem suscipit eligendi quas. Asperiores nemo fugit tempora repellendus dolore, consectetur quibusdam accusamus deleniti amet alias libero similique aperiam minus dolorem. Obcaecati.
                </div>
            </div>

        </div>

        </div>