<div class="container py-3 px-5">
    <div class="row text-white rounded py-3 px-3 shadow" style="background-color: #334756;">
        <div class="col">
            <p class="text-white">
                StudyIsland is a web app and social media platform designed to bring the power and efficiency of study
                groups to everyone in the comfort of their homes. We will provide utilities for forming study groups
                (Islands), sharing information, and talking about shared interests. Individual islands will be
                represented using a message board system that will allow users who are a part of that island to share
                information related to the subject that island is focused on.
            </p>
        </div>
    </div>
</div>

<br><br>

<div class="container py-3 px-5">
    <div class="row text-white rounded py-3 px-3 shadow" style="background-color: #334756;">
        <div class="col">
            <p class="text-white">
                <h2>Coming Soon</h2>
                Within the islands, users will be able to form study groups of varying size where they can
                discuss information in real time communication.
            </p>
        </div>
    </div>
</div>
