    <div>
        <h1 class="text-white">Sign In</h1>
        <form action="/auth/login" method="post">
            <section>
                <label class="text-white" for="username" text-color="white">Username</label>
                <input id="username" name="username" type="text" autocomplete="username"></input>
            </section>
            <section>
                <label class="text-white" for="current-password">Password</label>
                <input id="current-password" name="password" type="password" autocomplete="current-password" required></input>
            </section>
            <button type="submit">Sign In</button>
        </form>
    </div>