<div>
    <h1 class="text-white">Register A New Account</h1>
    <form action="/auth/register" method="post">
        <section>
            <label class="text-white ps-3 pe-2 py-3 " for="username">Username</label>
            <input id="username" name="username" type="text" autocomplete="username" required></input>
        </section>
        <section>
            <label class="text-white ps-3 pe-3 py-3 " for="currentPassword">Password</label>
            <input id="currentPassword" name="password" type="password" autocomplete="current-password" required></input>
        </section>
        <section>
            <label class="text-white ps-3 pe-2 py-3 " for="firstName">First Name</label>
            <input id="firstName" name="firstName" type="text"required></input>
        </section>
        <section>
            <label class="text-white ps-3 pe-2 py-3 " for="lastName">Last Name</label>
            <input id="lastName" name="lastName" type="text" required></input>
        </section>
        <section>
            <label class="text-white ps-3 pe-5 py-3 " for="email">Email</label>
            <input id="email" name="email" type="email" required></input>
        </section>
        <button type="submit">Register Account</button>
    </form>
</div>