<hr />
<h3 class="text-white">Search Results</h3>
<hr />
<h4 class="test-white">Found in Island Name</h4>
<ul class="list-group">
    {{#each nameResults}}
        <li class="list-group-item text-white" style="background-color: #2C394B;" >{{name}} - {{description}}</li>
    {{/each}}
</ul>
